* {
  color: var(--white);
}

.container {
  max-width: 90vw;
  margin: 0 auto;
}

.divider {
  display: flex;
  align-items: center;
  min-width: 50%;
  height: 24px;
}

.line {
  border-bottom: 1px solid var(--gray);
  flex: 1;
}

/* HEADER */
.header {
  background-image: url("../assets/img/empire-state.png");
  background-origin: content-box;
  background-size: cover;
  background-repeat: no-repeat;
}

.header article {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  top: 100px;
}

.header h1 {
  font-size: 2.25rem;
  line-height: 48px;
  width: 75%;
  filter: drop-shadow(0px 0px 7px rgba(0, 0, 0, 0.6));
  color: var(--white);
}

/* BOX */

.header .box {
  opacity: 0.91;
  border-radius: 2px;
  filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.53));
  background: var(--black);
}

/* BOARD-GATE */

.header .board-gate {
  display: flex;
}

.header .board-gate div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
  height: 32px;
  padding: 8px 12px;
  opacity: 0.74;
}

.header .board-gate p {
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  text-transform: uppercase;
  color: var(--white);
}

.header .board-gate .board {
  border-radius: 2px 0 0 0;
  background: var(--green);
}

.header .board-gate .gate {
  border-radius: 0 2px 0 0;
  background: #212121;
}

/* BOX INFO */

.info {
  display: flex;
  flex-direction: column;
  padding: 12px;
}

/* BOX WAY */

.header .way {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.header .way h2 {
  color: var(--white);
  font-size: var(--text-h2);
  line-height: var(--line-height-h2);
  font-weight: bolder;
}

.header .way p {
  opacity: 0.5;
  color: var(--white);
  font-size: 11px;
  line-height: 18px;
}

.header .way .fa-plane {
  color: var(--gray);
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 0 8px;
}

/* BOX DETAILS */

.header .details {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.header .details div {
  display: flex;
  flex-direction: column;
  flex: 1 70px;
}

.header .details div p:nth-child(1) {
  opacity: 0.5;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  text-align: center;
}

.header .details div p:nth-child(2) {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

.header .details div:nth-child(5) {
  align-items: flex-end;
}

/* MAIN */

.main {
  background: var(--royal-purple);
  padding-top: 120px;
}

.main .container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main .plans {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main .plans h3 {
  color: var(--blue);
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

.card_group {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
  margin-bottom: 80px;
}

/* CARD */

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 6px;

  background-origin: content-box;
  background-repeat: no-repeat;
  background-size: cover;

  width: 300px;
  height: 300px;
  border-radius: 2px;
}

.card .message ,
.card .pickup,
.card .destination {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 8px;
}

.card h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
}

.card p {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}

.card span {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  color: var(--green);
}

.hotel {
  background-image: url("../assets/img/hotel.png");
}

.route {
  background-image: url("../assets/img/car.png");
}

.liberty {
  background-image: url("../assets/img/liberty.png");
}

.card__info {
  display: flex;
  flex-direction: column;
  background: #212121;
  width: 100%;
  height: 100px;
  padding: 15px;
}

.card__info .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__info .title span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 24px;
  background: var(--df-color-2);
  background: var(--gradient-2);
  text-transform: uppercase;
  font-size: 11px;
  line-height: 16px;
  color: var(--white);
  padding: 8px;
}

.card__info .details {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  font-size: 16px;
}

.gradient {
  display: flex;
  flex-direction: column;
  height: 300px;
  background: var(--df-color-3);
  background: var(--gradient-3);
  padding: 15px;
}

/* RACE */

.race {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 10px;
  background: var(--df-color-1);
  background: var(--gradient-1);
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.5));
  padding: 15px;
}

.race .input {
  display: flex;
  gap: 8px;
  width: 100%;
  background: var(--white);
  padding: 8px;
}

.race .input span {
  color: var(--gray);
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.race .input input {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: var(--dark-purple);
  border: none;
  outline: none;
  flex: 1;
}

.race .menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.menu .item p,
.menu .item span {
  color: var(--blue);
}

/* FOOTER */

.footer {
  display: flex;
  background: var(--dark-purple);
  width: 100vw;
  height: 8vh;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.footer .container {
  display: flex;
}

.footer .menu {
  display: flex;
  align-items: center;
  gap: 24px;
}

.footer .menu .button i {
  color: var(--blue);
}

.footer .menu .button .fa-plane {
  transform: rotate(-45deg);
}

/* BUTTON */

.button {
  width: 180px;
  height: 50px;
  background: transparent;
  border: 2px solid transparent;
  font-size: 10px;
  line-height: 16px;
  text-transform: uppercase;
  border-radius: 2px;
  border: none;
  cursor: pointer;
}

.button.filter {
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.32));
}

.btn--xs {
  width: 20px;
  height: 20px;
  font-size: 0.7rem;
}

.btn--sm {
  width: 30px;
  height: 30px;
  font-size: 1rem;
}

.btn--md {
  width: 40px;
  height: 40px;
  font-size: 1rem;
}

.btn--lg {
  width: 50px;
  height: 50px;
  font-size: 24px;
}

.round {
  border-radius: 50%;
}

.purple--dark {
  background: var(--dark-purple);
}

.purple {
  background: var(--purple);
}

.bright {
  background: var(--blue);
}

.blue {
  background: var(--dark-blue);
}

.gray {
  background: var(--gray);
}
