.container {
  max-width: 90vw;
  margin: 0 auto;
}

.divider__group {
  display: flex;
  align-items: center;
  height: 24px;
  width: 100%;
}

.divider {
  border-bottom: 1px solid #8b8b8b;
  flex: 1;
}

/* HEADER */
.header {
  background-image: url("../assets/img/empire-state.png");
  background-origin: content-box;
  background-size: cover;
  background-repeat: no-repeat;
}

.header article {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  top: 100px;
}

.header h1 {
  font-size: 2.25rem;
  line-height: 48px;
  width: 75%;
  filter: drop-shadow(0px 0px 7px rgba(0, 0, 0, 0.6));
  color: var(--white);
}

/* BOX */

.header .box {
  opacity: 0.91;
  border-radius: 2px;
  filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.53));
  background: #272727;
}

/* BOX HEADER */

.header .box__header {
  display: flex;
}

.header .box__header div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
  height: 32px;
  padding: 8px 12px;
  opacity: 0.74;
}

.header .box__header div p {
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  text-transform: uppercase;
  color: #ffffff;
}

.header .box__header div:nth-child(1) {
  border-radius: 2px 0 0 0;
  background: var(--green);
}

.header .box__header div:nth-child(2) {
  border-radius: 0 2px 0 0;
  background: #212121;
}

/* BOX INFO */

.box__info {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px;
}

.box__info .divider {
  border-bottom: 1px solid #8b8b8b;
  flex: 1;
}

/* BOX ROUTE */

.header .box__route {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.header .box__route div h2 {
  color: var(--white);
  font-size: var(--text-h2);
  line-height: var(--line-height-h2);
  font-weight: bolder;
}

.header .box__route div p {
  opacity: 0.5;
  color: var(--white);
  font-size: 11px;
  line-height: 18px;
}

.header .box__route div:nth-child(2) {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50%;
}

.header .box__route div:nth-child(2) .divider {
  border-bottom: 1px solid #8b8b8b;
  flex: 1;
}

.header .box__route div:nth-child(2) .fa-plane {
  color: #8b8b8b;
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 0 8px;
}

/* BOX DETAILS */

.header .box__details {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.header .box__details div {
  display: flex;
  flex-direction: column;
  flex: 1 70px;
}

.header .box__details div:nth-child(5) {
  display: flex;
  flex-direction: column;
  flex: 1 140px;
}

.header .box__details div p {
  font-weight: 400;
  text-align: center;
  color: #ffffff;
}

.header .box__details div p:nth-child(1) {
  opacity: 0.5;
  font-size: 11px;
  line-height: 18px;
  text-transform: uppercase;
}

.header .box__details div p:nth-child(2) {
  font-size: 14px;
  line-height: 18px;
}

/* BOX BUTTON */

.header .box__details div button {
  width: 180px;
  height: 46px;
  color: var(--white);
  text-transform: uppercase;
  background-color: #431c60;
  border: 1px solid #431c60;
  border-radius: 4px;
  opacity: 0.9;
  cursor: pointer;
}

.header .box__details div button:active {
  background-color: #2c0f41;
  border: 1px solid #2c0f41;
}

.header .box__details div button span {
  font-size: 10px;
  font-weight: 500;
  line-height: 37px;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

/* MAIN */

.main {
  background-color: #261136;
  padding-top: 120px;
}

.main .container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* PLANS */

.main .plans {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main .plans h3 {
  color: var(--blue);
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

.main .plans .button {
  background-color: var(--purple);
  border: 1px solid var(--purple);
  border-radius: 50%;
  padding: 16px;
}

.main .plans .button i {
  font-size: 20px;
}

/* HOTEL */

.main .hotel {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 6px;
  background-image: url("../assets/img/hotel.png");
  background-origin: content-box;
  background-repeat: no-repeat;
  background-size: contain;
  /* max-width: 340px; */
  height: 280px;
}

.main .hotel .hotel__description {
  background: #212121;
  width: 100%;
  padding: 15px;
}

.main .hotel .description__name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main .hotel .description__name h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 33px;
}

.main .hotel .description__name div {
  height: 24px;
  background: #7b1fa2;
  background: linear-gradient(-139deg, #7b1fa2 0%, #4527a0 100%);
  padding: 0 8px;
}

.main .hotel .description__name span {
  font-size: 10px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
}

.main .hotel .description__location {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}

.main .hotel .description__location i {
  font-size: 16px;
}

.main .hotel .description__location p {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

/* ROUTE */

.main .route {
  background-image: url("../assets/img/car.png");
  background-repeat: no-repeat;
  border-radius: 2px;
}
.main .route .route__description {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #000000;
  background: linear-gradient(-135deg, #000000 0%, rgba(44, 44, 44, 0.71) 100%);
  padding: 15px;
}

.main .route .description__message {
  display: flex;
  gap: 8px;
}

.main .route .description h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
}

.main .route .description p {
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
}

.main .route .description span {
  color: var(--green);
}

.main .route .description__pickup,
.main .route .description__destination {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main .route .description__pickup button,
.main .route .description__destination button {
  background-color: var(--purple);
  /* padding: 1rem; */
  width: 36px;
  height: 36px;
  font-size: 16px;
  border: 1px solid var(--purple);
  border-radius: 50%;
}

/* DESTINATION */
.main .destination {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 6px;
  background-image: url("../assets/img/liberty.png");
  background-origin: content-box;
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 340px;
  height: 280px;
}

.main .destination .destination__description {
  width: 100%;
  height: 100px;
  border-radius: 0 0 2px 2px;
  background: #212121;
  padding: 15px;
}

.main .destination .destination__description h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
}

.main .destination .destination__description span {
  display: flex;
  align-items: center;
  gap: 8px;
}

.main .destination .destination__description i {
  font-size: 16px;
}

.main .destination .destination__description p {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.main .race {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: var(--gradient-1);
  background: var(--gradient-2);
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.5));
  max-height: 275px;
  border-radius: 2px;
  margin-bottom: 80px;
  padding: 15px;
}

.main .race .input {
  display: flex;
  gap: 8px;
  background: var(--white);
  padding: 8px;
}

.main .race .input span {
  color: #8b8b8b;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.main .race .input input {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: var(--dark-purple);
  border: none;
  outline: none;
  flex: 1;
}

.main .race .race__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main .race .menu__option {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.main .race .menu__option p,
.main .race .menu__option span {
  color: var(--blue);
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.main .race .menu__option:active p,
.main .race .menu__option:active span {
  color: white;
}

.main .race .menu__option:hover p,
.main .race .menu__option:hover span {
  color: white;
}

/* FOOTER */

.footer {
  display: flex;
  background-color: var(--dark-purple);
  width: 100vw;
  height: 8vh;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.footer .container {
  display: flex;
}

.footer .menu {
  display: flex;
}

.footer .menu .button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 70px;
  padding: 20px 25px;
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
}

.footer .menu .button .fa-plane {
  transform: rotate(-45deg);
}

.footer .menu .button i {
  font-size: 1rem;
  color: var(--blue);
}

.footer .menu .button i:active {
  color: var(--white);
}

.footer .menu .button i:hover {
  color: var(--white);
}

/* BUTTON */

.button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.button--icon {
  width: 50px;
  height: 50px;
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.32));
}

.round {
  border-radius: 50%;
}

.button--icon i {
  font-size: 24px;
}

.purple {
  background: var(--purple);
}

.bright {
  background: var(--blue);
}

.blue {
  background: var(--dark-blue);
}

.gray {
  background: var(--gray);
}

* {
  color: var(--white);
}
